.board {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #34495e;
  color: #fff;
}

.gameStatus {
	margin: 0px;
	padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f1c40f;
  color: #fff;	
  font-size: 1.4em;
  font-weight: bold;
}
.statusTurn {
	background-color: #f1c40f;
}
.statusWin {
	background-color: #2ecc71;
}
.statusDraw {
	background-color: #9b59b6;
}